.row{
    background-color: yellow;
}

.nav-item>img{
    margin-top: 10px;
}



.store-icons>img{
    margin-right: 10px; margin-top: 25px;
}

.card-group{
    margin-top: 40px;
    width: 100%;
}




@media only screen and (max-width: 600px) {

    
    .store-icons>img{
        width: 300px;
        width: 100%;
        margin-right: 10px; 
    }

    .slide>img{
        width: 230px;
        margin-top: 10px; margin-left: 20px;
        text-align: center;
      }
    

    
    
    
}



@media only screen and (min-width: 601px) {
    .store-icons>img{
            width: 600px;
            width: 100%;
            margin-right: 10px;
        }
        
        .slide>img{
            width: 320px;
            margin-left: 10px; margin-top: 25px;
          }
        
    
        
        
        
    }